.floatingCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    border: 5px solid grey;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    position: absolute;
    box-shadow: 2px 2px 2px blue;
    background-color: lightgrey;
}
.floatingCard>:nth-child(1){
    transform: scale(0.5);
    position: absolute;
    top: -30px !important;
}
.floatingCard>:nth-child(2){
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 76px;
}
.para{
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: 123px;
}
.f-button{
    margin-top: 175px;
    background-color: aqua !important;
    width: 80%;
}
