.n-wrapper{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    position: sticky;
}
.n-left{
    /* display: flex; */
    /* flex: 1; */
    display: flex;
    align-items: center;
    gap: 2rem;
}
.n-name{
    font-size: 1.3rem;
    font-weight: bold;
}
.n-right{
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    list-style: none;
    cursor: pointer;
}
.n-list>ul>.hello>li:hover{
    cursor: pointer;
    background-color: var(--orange);
    border-radius: 5px;
    padding: 5px;
}
.n-list>ul>.hello>li{
    padding: 5px;
}

.btn-button{
    padding: 10px;
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
}
.btn-button:hover{
    cursor: pointer;
    color: var(--gray);
}