.work{
    display: flex;
    height: 99vh;
}
.w-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 45%;
}
.w-left h1:nth-of-type(1){
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;

}
.w-left p:nth-of-type(1){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: lime;
}


.w-right{
    position: relative;
}
.w-mainCircle{
    position: relative;
    height: 22rem;
    width: 22rem;
    border-radius: 100%;
    left: 9rem;
    top: 3.5rem;
    box-shadow: green;
    background-color: white;
    border: 5px solid palevioletred;
}

.w-mainCircle{
    position: relative;
}
.secCircle{
    position: absolute;
}
.w-mainCircle>:nth-child(1){
    top: 6rem;
    left: -3rem;
    transform: scale(0.8);
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    background-color: wheat;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* line-height: 15rem; */
    display: flex;
    position: absolute;

}
.w-mainCircle>:nth-child(2){
    top: 16rem;
    left: 7rem;
    height: 9rem;
    width: 9rem;
    /* line-height: 11rem; */
    display: flex;
    background-color: lightblue;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(0.8);
    position: absolute;

}
.w-mainCircle>:nth-child(3){
    top: 7rem;
    left: 17rem;
    height: 9rem;
    width: 9rem;
    /* line-height: 15rem; */
    display: flex;
    background-color: lightsalmon;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(0.8);
    position: absolute;

}
.w-mainCircle>:nth-child(4){
    top: 6rem;
    left: 7rem;
    height: 9rem;
    width: 9rem;
    /* line-height: 14rem; */
    display: flex;
    background-color: lightgray;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(0.8);
    position: absolute;

}
.w-mainCircle>:nth-child(5){
    top: -4rem;
    left: 7rem;
    height: 9rem;
    width: 9rem;
    /* line-height: 14rem; */
    display: flex;
    background-color: lightseagreen;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(0.8);
    position: absolute;

}

.w-backCircle{
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
}
.blueCircle{
    background-color: blue;
    top: 2rem;
    left: 5rem;
    z-index: -1;
    position: absolute;
}
.yellowCircle{
    background-color:yellow;
    z-index: -1;
    top: 2rem;
    left: 19rem;
    position: absolute;
}